In [1]:
import pandas as pd

In [2]:
df_tm = pd.read_csv('Rutas_Troncales_de_TRANSMILENIO.csv')

In [5]:
df_tm = pd.DataFrame(df_tm)

In [9]:
df_tm.index

RangeIndex(start=0, stop=124, step=1)

In [14]:
df_tm[0:2]

,objectid,route_name_ruta_troncal,nombre_ruta_troncal,servicio_unico_ruta_troncal,origen_ruta_troncal,destino_ruta_troncal,tipo_ruta_troncal,tipo_operacion,tipo_bus_ruta_troncal,estado_ruta_troncal,longitud_ruta_troncal,globalid
0,1,M86-K86CV,M86-K86CV,M86-K86,AEROPUERTO EL DORADO,HACIENDA SANTA BARBARA,DUAL,Ciclovia,DUAL,OPERATIVA,53.627651,{3E7EA1AA-FD8B-4358-A23A-09F753C45346}
1,2,1-1,1 U,1,UNIVERSIDADES,PORTAL ELDORADO,TRONCAL,Normal,BIARTICULADO,OPERATIVA,11.819231,{E7A0492E-2EE7-437C-8115-ADB66463EEE8}